
.border {
  border: 1px solid white;
  min-height: 200px;
  padding: 0px;
  background-color: white;
}

.headerCenter {
  margin-top: 50px;
  font-size: 40px;
}

.homeRow {
}

.nameRow {
  border: 10px solid white;
}

.projects > a > div {
  border: 2px solid white;
  border-radius: 10px;
  background-color: whitesmoke;
  min-height: 300px;
}

.projects > div {
  border: 10px solid white;
  background-color: whitesmoke;
  min-height: 300px;
}

.descriptionRow {
  border: 10px solid white;
}

.contactRow {
  min-width: 200px;
  margin: 25% auto;
}

.colIcon {
  text-align: center;
}

.middle {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
}

ul {
  display: inline;
  list-style: none;
}

/*.menu ul {*/
  /*display:inline-table;*/
/*}*/
/*.menu ul li {*/
  /*display:inline-block;*/
  /*padding-right: 5px;*/
/*}*/

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 36px;
  letter-spacing: -1px;
  padding-top: 100px;
}

a {
  color: #337ab7;
}

a:hover {
  color: black;
}

.projects {
  margin-bottom: 100px;
}

#hirebutton {
  margin: 10px;
  padding: 20px;
  border: 2px solid whitesmoke;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  background: transparent;
  float: right;
  margin-top: 100px;
  transition: 1s;
}

#hirebutton:hover {
  border: 2px solid black;
  transition: 1s;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: .04em;
}

